<!DOCTYPE html>
<html>
    <head>
        
        <link rel='icon' href="/image/download.png">
        <link rel='stylesheet' href="/css/style.css">
        <title>
            Weather
        </title>
        
    </head>
    <body>
        <form>
        
        {{>header}}
        Place :<input type="text"   name='place'  height="50px" width="60px">
        <input type='submit' value="Search" id="button">
        
        </form>
    </body>
 
</html>